html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #f4f2ee;
    color: #793252;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: rgb(158, 110, 78);
    background-color: transparent;
    border: 2px solid rgb(158, 110, 78);
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
    outline: none;
}

input::placeholder {
    color: rgba(158, 110, 78, 0.3)
}

input:focus, input:active, input::selection {
    border: 2px solid rgb(193, 81, 7);
}

button {
    color: #FDFDFD;
    background-color: #e05371;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

/* button:hover {
    background-color: #750b22;
    cursor: pointer;
} */

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

/* ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
} */

.active {
    background: rgb(211, 16, 16);
    color: white;
}

